#selected-artist-image{
   width: 200px;
   height: 200px;
   margin-bottom: 20px;
}

.artist-fact{
  font-size: 18px;
}

.click-text{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.composer-audio{
  width: 95%;
  height: 80px;
  frameborder: 0;
  allowtransparency: true;
}
.artist-image{
  width: 160px !important;
  height: 160px !important;
  margin-top: 10px;
}

.hidden-info{
  display: none;
}

.hide{
  display: none;
}

.show-block{
  display:block;
}

.show-inline{
  display:inline;
}

.test-audio-container{
  text-align: center;
  margin-top: 5px;
}

.modal-title,
.modal-body{
  color: #333;
}

#test-instruction{
  text-align: center;
  color: #333;
  margin: 30px;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.test-image{
  width:60px;
  height:60px;
  box-sizing: content-box;
  padding: 5px;
}

.modal-open{
  color: #333;
}

:focus {
  border-color: #FF0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
  outline: black auto 5px !important;
}

.answers{
  width: 60%;
  margin-left: 25%;
  text-align: left;
}

#answer-correct{
  color: rgba(31, 97, 17, 0.95);
}

#answer-wrong{
  color: rgba(237, 36, 8, 0.95);
}

body{
  background-color: #333;
  font-family: 'Cormorant Garamond', serif;
}

.caption{
  text-align: center;
}

.pad-cards{
  background-color: #333;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar-inverse
.navbar-brand{
  color: #fff;
  font-family: 'Inknut Antiqua', serif;
}

.modal-content{
  font-family: 'Cormorant Garamond', serif;
}

.modal-header,
.modal-footer{
  background-color: #966351;
}

#next-question,
#submit-answer,
#display-score{
  background-image: linear-gradient(to bottom,#fff 0,#9d9d9d 100%);
  background-color: #fff;
  color: #333;
}

.modal-title{
  color: #fff;
}

.panel-default{
  border: 3px #966351 solid;
  background-color: #f0efcf;
}
